@import url('https://fonts.googleapis.com/css2 family=Ubuntu &display=swap');

*{
    font-family:'Ubuntu', sans-serif;
    padding: 0%;
    margin: 0%;
    color: white;
}
a{
    text-decoration: none;  
}
body{
    background-image: linear-gradient(#01022d,#000);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image:linear-gradient(to right, #01022de5 30%,#000000c3), url(images/avatar.png);
    width: 90%;
    height: 640px;
}
.container:hover{
    background-image: linear-gradient(to right, #01022de5 30%,transparent), url(images/avatar.png);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li{
    display: inline-block;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
.content{
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 80px ;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 2px;
    width: 350px;
    padding: 20px 0;
}
.content button{
    color: #000;
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    bottom: 2px solid transparent;
}
.content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}
@media(max-width:500px){
    .content{
        width: 90%;
        padding: 15px;

    }
    .content h2{
        font-size: 60px ;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo{
        font-size: px;
    }
    .content p{
        letter-spacing: 2px;
        width: 100%;
        padding: 20px 0;
    }
    ul{
        width: 100%;
    }
}