@import url('https //fonts.googleapis.com/css2 family=Ubuntu &display=swap');

*{
    font-family:'Ubuntu', sans-serif;
    padding: 0%;
    margin: 0%;
    color: white;
}
a{
    text-decoration: none;  
}
body{
    background-image: linear-gradient(#01022d,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image:linear-gradient(to right, #01022de5 30%,#000000c3), url(avatar.jpg);
    background-size: 100% 640px;
    width: 90%;
    height: 640px;
}
.container:hover{
    background-image: linear-gradient(to right, #01022de5 30%,transparent), url(avatar.jpg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li{
    display: inline-block;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}